version: '3.8'

services:
  web:
    build: .
    container_name: findistill_app
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - DATABASE_URL=postgresql+asyncpg://postgres:qwer7410@db:5432/findistill_db
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg16
    container_name: findistill_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwer7410
      POSTGRES_DB: findistill_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


