fastapi
uvicorn
pydantic
supabase
python-dotenv
redis
psycopg2-binary

google-generativeai
polars
fastexcel
xlsx2csv
beautifulsoup4
lxml
openpyxl
pypdf
python-docx
streamlit
watchdog
pytesseract
Pillow
paddleocr
paddlepaddle
pdf2image
opencv-python-headless
playwright

pyautogen
ipython
huggingface_hub
matplotlib
finnhub-python
yfinance
mplfinance
backtrader
sec_api
numpy
h5py
pyPDF2
reportlab
praw
tushare
pdfkit
aiohttp
langchain
nltk
ratelimit
requests
scikit-learn
tenacity
tqdm
typing_extensions
cryptography
pyspark
delta-spark
mlflow
