apiVersion: apps/v1
kind: Deployment
metadata:
  name: lakehouse-minio
  namespace: preciso
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lakehouse-minio
  template:
    metadata:
      labels:
        app: lakehouse-minio
    spec:
      containers:
        - name: minio
          image: minio/minio:latest
          args: ["server", "/data", "--console-address", ":9001"]
          ports:
            - containerPort: 9000
            - containerPort: 9001
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: preciso-secrets
                  key: MINIO_ROOT_USER
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: preciso-secrets
                  key: MINIO_ROOT_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: lakehouse-minio
  namespace: preciso
spec:
  selector:
    app: lakehouse-minio
  ports:
    - name: s3
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
