fastapi
uvicorn
pydantic
supabase
python-dotenv

google-generativeai
pandas
beautifulsoup4
lxml
openpyxl
pypdf
python-docx
streamlit
watchdog

pyautogen
ipython
huggingface_hub
matplotlib
finnhub-python
yfinance
mplfinance
backtrader
sec_api
numpy
pyPDF2
reportlab
praw
tushare
pandas_datareader
pdfkit
aiohttp
langchain
nltk
ratelimit
requests
scikit-learn
tenacity
tqdm
typing_extensions
unstructured
